venv/
env/

.env/

.env
alembic.ini

back/alembic/

back/.idea
back/.venv

front/.idea
front/notes-front/.next/
front/notes-front/node_modules

.idea/
.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store